<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雅阁花卉管理-登录</title>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
</head>
<body>
    <div class="tp-login">
        <div class="yg-form">
            <div class="yg-form-msg">

            </div>
            <div class="yg-form-group">
                <span class="span-text">用户名:</span>
                <input type="text" class="input-user" id="username" placeholder="请输入账号"/>
            </div>
            <div class="yg-form-group">
                <span class="span-text">密码:</span>
                <input type="password" class="input-pwd" id="password" placeholder="请输入密码"/>
            </div>
            <div class="yg-form-group">
                <input type="text" class="input-code" id="authCode" placeholder="验证码"/>
            </div>
            <div class="yg-form-group">
                <button type="button" id="login">登录</button>
                <button type="button" id="cancel">取消</button>
            </div>
        </div>
    </div>
</body>
</html>
